# 배열

- 자료구조의 장,단점을 설명해 보아라
  - 장점 : 접근이 빠르다
  - 단점 : 미리 설정을 해야하며 추가, 수정, 삭제가 어렵다.

In [3]:
country = 'US'
print(country)

country = country + 'A'
print(country)

US
USA

# 3. 파이썬에서의 배열

- 파이썬 리스트 활용

In [5]:
# 1차원 배열: 리스트로 구현시
data = [1,2,3,4,5]
print(data)

[1, 2, 3, 4, 5]

In [6]:
# 2차원 배열: 리스트로 구현시
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
print(data[0])

[1, 2, 3]

In [9]:
print(data[0][0])
print(data[0][1])
print(data[0][2])
print(data[1][0])

1
2
3
4

# 3. 프로그래밍 연습

연습1: 위의 2차원 배열에서 9,8,7 순서로 출력해보기

In [12]:
print(data[2][2])
print(data[2][1])
print(data[2][0])

9
8
7

### 연습2 : 다음 dataset에서 전체 이름 안에 M이 몇번 나왔는지 적어보시오

In [13]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [27]:
m_count =0
for data in dataset:
    for index in range(len(data)):
        if data[index] == 'M':
            m_count+=1
            
print(m_count)

38